<form clrForm [formGroup]="fg" clrLayout="vertical">
    <div class="clr-row">
        <div class="clr-col-9">
                <clr-textarea-container>
                    <label>Enter text</label>
                    <textarea name="" id="" cols="60" rows="10" 
                        clrTextarea formControlName="text"></textarea>
                    <clr-control-error>Enter at least 4 symbols</clr-control-error>
                </clr-textarea-container>
        </div>
        <div class="clr-col-3">
            <button (click)="onSave()" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
