<form clrForm [formGroup]="fg" clrLayout="vertical">
    <clr-textarea-container>
        <label>Enter text</label>
        <textarea name="" id="" cols="60" rows="10" 
            clrTextarea formControlName="text"></textarea>
        <clr-control-error>Enter at least 4 symbols</clr-control-error>
    </clr-textarea-container>

    <clr-select-container>
        <label>Status</label>
        <select formControlName="status" clrSelect>
            <option [value]="TaskStatus.NEW">{{TaskStatus.NEW}}</option>
            <option [value]="TaskStatus.IN_PROGRESS">{{TaskStatus.IN_PROGRESS}}</option>
            <option [value]="TaskStatus.DONE">{{TaskStatus.DONE}}</option>
        </select>
    </clr-select-container>
    <div>
        <button (click)="onSave()">Save</button>
    </div>
</form>
