<app-create-form>
</app-create-form>

<clr-accordion>
    <clr-accordion-panel *ngFor="let task of storageService.all$ | async">
        <clr-accordion-title>
            <div class="clr-row">
                <div class="clr-col-4">{{task.text|lineRange: 0: 1}}</div>
            
                <div class="clr-col-4">
                    <span
                        class="badge"
                        [ngClass]="{
                            'badge-info': task.status === TaskStatus.NEW,
                            'badge-warning': task.status === TaskStatus.IN_PROGRESS,
                            'badge-success': task.status === TaskStatus.DONE
                        }"
                    >{{task.status}}</span>
                </div>
                <div class="clr-col-4">

                    <clr-dropdown (click)="onMenuClick($event)">
                        <button clrDropdownTrigger>Actions</button>
                        <clr-dropdown-menu>
                            <div clrDropdownItem *ngIf="task.status !== TaskStatus.NEW"
                                (click)="changeStatus(task.id, TaskStatus.NEW)">New</div>
                            <div clrDropdownItem *ngIf="task.status !== TaskStatus.IN_PROGRESS"
                            (click)="changeStatus(task.id, TaskStatus.IN_PROGRESS)">In Progress</div>
                            <div clrDropdownItem *ngIf="task.status !== TaskStatus.DONE"
                            (click)="changeStatus(task.id, TaskStatus.DONE)">Done</div>
                            <div clrDropdownItem [routerLink]="['/edit', task.id]">Edit</div>
                            <div clrDropdownItem (click)="onDelete(task.id)">Delete</div>
                        </clr-dropdown-menu>
                    </clr-dropdown>

                </div>
            </div>
        </clr-accordion-title>
        <clr-accordion-content>{{task.text| lineRange: 1}}</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>

<app-confirm-modal></app-confirm-modal>
