<clr-modal [(clrModalOpen)]="isOpen">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>Are You Sure ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onOk()">Ok</button>
    </div>
</clr-modal>