<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0);" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Clarity</span>
    </a>
    </div>
    
  </header>
  <div class="content-container">
      <div class="content-area">
        <div style="max-width: 800px;margin: auto;">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>
</div>